* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
  // outline: none;
  // border: none;
}

body {
  color: #141414;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.subtitle {
  font-size: 12rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
  }
}